@charset 'utf-8';

@media screen and (max-width: 640px) {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
/* ここからheaderですわよ */
header {
  width: 1800px;
  height: 50px;
  background-color: #F6F8F9;
  display: flex;
  justify-content: space-between;

}
header > a {
  padding-top: 15px;
  padding-left: 20px;
}

ul {
  list-style: none;
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  
}
ul > li {
  margin-left: 20px;
  font-weight: bold;
  opacity: 0.5;
  
}
ul > li:hover,
ul > li.account{
  opacity: 1;
}


/*  */

li > .profile {
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: -10px;
  margin-left: 20px;
}



li > .profile > img {
  height: 100%;

}


/* 角丸もピクセルでできるよ　border radius */

/* えだっちさんに書いてもらったもの */


/*友清*/

header{
}

.worldnews {
  color:#000000;
  font-size:16px;
  font-family:Helvetica;
  line-height: 1.5em;
  margin-top:50px;
}
h1 {
  font-size:24px;
}
.worldnews>p {
  width:660px;
}

.morenews {
  color:#202124;
  font-family:Helvetica;
  font-size:16px;
  line-height: 1.5em;
}
h2 {
  font-size:24px;
}

article>span {
  color:#FA6980;
}
article>p {
  font-family:'Acumin Pro';
  color: #A6ADB4;

}
time:before{
  content:url(img/time.png)
}
time {
  font-size:13px;
  font-style:Oblique;
  color: #A6ADB4;
}